html{
    background-color: aquamarine;
}


h1 {
color: white;
background-color: orange;
}


.container{
 color: green;
 background-color: tan;
}
#totalscoreheader{
color: white;
background-color: turquoise;
}

